.other-input::placeholder{
    padding-left: 5px;
    color: var(--secondary-color);
}
.other-input::-ms-input-placeholder{
    color: var(--secondary-color);
}

.other-input{
    width: 5rem;
    outline: none;
    color: var(--text-color);
    padding-left: 5px;
    border: 2px solid var(--secondary-color);

}

.progress-bar-container{
    width: 90%;
    margin: 3rem auto 0 auto;
}

.progress-bar-info{
    display: flex;
    justify-content: space-between;
}
.progress-bar-info > div {
    margin-top: 1rem;
width: 33%;

}
.progress-bar-info>div:nth-child(1){
    text-align: start;
}
.progress-bar-info>div:nth-child(2){
    text-align: center;
}
.progress-bar-info>div:nth-child(3){
    text-align: end;
}