.other-input {
  width: 6rem;
  color: var(--text-color);
  padding-left: 5px;
  border: 2px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.other-input > input::placeholder {
  padding-left: 5px;
  color: var(--secondary-color);
}
.other-input > input::-ms-input-placeholder {
  color: var(--secondary-color);
}

.other-input > input {
  width: 90%;
  outline: none;
  border: none;
  color: var(--text-color);
  padding-bottom: 5px;
}

.progress-bar-info {
  display: flex;
  justify-content: space-between;
}
.progress-bar-info > div {
  margin-top: 1rem;
  width: 33%;
}
.progress-bar-info > div:nth-child(1) {
  text-align: start;
}
.progress-bar-info > div:nth-child(2) {
  text-align: center;
}
.progress-bar-info > div:nth-child(3) {
  text-align: end;
}
thead {
  background-color: var(--secondary-color);
  border: none;
}
.table-head-row {
  background-color: rgb(109, 109, 109);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px 0;
  /* border-left: 1px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color); */
}
.table-head-row > td {
  /* border-right: 1px solid var(--primary-color); */
}

.table-body-row {
  color: var(--secondary-color);
  text-align: center;
  border-bottom: 1px solid rgb(109, 109, 109);
}
.table-body-row > td {
  padding: 10px 0;
}

.fund-progress-bar {
  padding: 0;
}

.donate-btn {
  min-width: 10rem;
  max-width: 11rem;
  overflow: hidden;
  white-space: nowrap;
}

.flex-utility{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-modal{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(rgb(105, 102, 102) 13%, rgb(45, 42, 42) 63%, rgb(4, 4, 4) 94%);
    backdrop-filter: blur(5px);
    z-index: 9;
}

.data-container{
    background-color: rgba(0,0,0,0.4);
    border-radius: 14px;
    z-index: 10;
    width: 40%;
    position: relative;
}
.close-btn{
    rotate: 45deg;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.close-btn:hover{
    filter: brightness(0.5);
}

.modal-data{
    padding: 3rem 2rem;
}
.modal-data>:nth-child(1){
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 700;
}
.modal-data>:nth-child(3){
    margin:1rem 0;
}


@media screen and (max-width: 800px) {
    .data-container{
        width: 60%;
    }
  }
  @media screen and (max-width: 600px) {
    .data-container{
        width: 90%;
    }
  }