.other-input::placeholder{
    padding-left: 5px;
    color: var(--secondary-color);
}
.other-input::-ms-input-placeholder{
    color: var(--secondary-color);
}

.other-input{
    width: 5rem;
    outline: none;
    color: var(--text-color);
    padding-left: 5px;
    border: 2px solid var(--secondary-color);

}


.progress-bar-info{
    display: flex;
    justify-content: space-between;
}
.progress-bar-info > div {
    margin-top: 1rem;
width: 33%;

}
.progress-bar-info>div:nth-child(1){
    text-align: start;
}
.progress-bar-info>div:nth-child(2){
    text-align: center;
}
.progress-bar-info>div:nth-child(3){
    text-align: end;
}
thead{
    background-color:  var(--secondary-color);
    border: none;
}
.table-head-row{
    background-color:  var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    border-left: 1px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
}
.table-head-row>td{
    border-right: 1px solid var(--primary-color);
}

.table-body-row{
    color: var(--secondary-color);  
    text-align: center;
    /* border: 1px solid var(--secondary-color); */
}
.table-body-row>td{
    border: 1px solid var(--secondary-color);
}